@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.levels {
    background-image: url(../../images/bg-levels.png);
    background-size: cover;
}

.levels__wrapper {
    position: relative;
    @include m.wrapper;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}

.levels__title {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.6rem;
    max-width: 800px;
    margin: 16px auto 28px;
}

.levels__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.levels__item {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.levels__info {
    padding: 12px;
    backdrop-filter: blur(22px);
    border-radius: 0 0 8px 8px;

}

.levels__image {
    width: 240px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.levels__name {
    font-family: 'Noto Serif';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.levels__description {
    margin-top: 6px;
    text-align: justify;
    font-size: 1.05rem;
    line-height: 1.3rem;
    -webkit-line-clamp: 4; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    &:after{
        content: '...';
    }
}

.levels__other {
    display: flex;
    font-family: 'Noto Serif';
    justify-content: space-between;
    margin-top: 8px;
}